.col-logo{
    width: 100%;
    display: flex;
    justify-content: start;
  }
  
  .col-user{
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .img-ideal{
    width: 100%;
    height: auto;
  }
nav{
    height: 80px;
    border-bottom: solid 10px black;
    border-top: none;
    border-left: none;
    border-right: none;
    /* background-image: url('../../../assets/images/buscador.jpg');
    background-size: cover;  */
    /* Ajusta la imagen al tamaño del contenedor */
    /* background-position: center;  */
    /* Centra la imagen en el contenedor */
    /* background-repeat: no-repeat; */
}
.opcion{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--262729, #262729);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding-top: 6px;
}
.medio{
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  max-height: 100%;
  min-height: max-content;
}