.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura de la sección al 100% de la ventana */
    text-align: center; /* Ajusta el texto al centro */
    position: relative; /* Agrega posición relativa para el fondo */
}
.content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(159, 225, 207, 0.4),
      rgba(97, 137, 218, 0.345)); */
    background-image: url('../../../../assets/images/fondo2.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen */
    filter: contrast(100%);
    filter: brightness(90%);

}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    /* background-color: #ebf2f2; */
    /* box-shadow: 0px 1px 9px rgba(201, 225, 228, 0.78); */
    
}

/* Para columna izquierda  */
.column-content{
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Agrega espacio arriba */
    padding-bottom: 20px; /* Agrega espacio abajo */
}

.img-ideal {
    max-height: 70px; 
    width: auto; 
}
.imagen{
    max-width: 650px;
    max-height: 190px;
    overflow: hidden;
    border-radius: 10% ;
    box-shadow: 3px 3px 12px rgba(47, 96, 101, 0.78);
}

.opcion {
    border-width: 10px;
    border-radius: 25px;
    background-color: rgb(225, 240, 242);
    width: 380px;
    height: max-content;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 1px 10px rgba(47, 96, 101, 0.78);
}
@font-face {
    font-family: 'Raleway';
    src: url('../../../../assets/fonts/Raleway-VariableFont_wght.ttf');
}
.opcion-position {
    display: flex;
    
    font-size: 15px;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Alinea verticalmente */
    align-items: center; /* Alinea horizontalmente */
    text-align: center; /* Alinea el texto horizontalmente */
    height: 150px;
    font-family:'Raleway'; /* Cambia la fuente */

}

.opcion-position p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
}
/* Para columna derecha  */


.formulario {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100%; /* Ocupa todo el alto disponible */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px; /* Añade relleno */
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 9px rgba(201, 225, 228, 0.78);
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
.form-contenido{
    margin: 12px;
    display: flex;
    max-width: 90%; 
    width: 100%;
    margin: auto; 
    flex-direction: column; 
    
}
.col-left {
    justify-content: flex-start; /* Centrar a la izquierda */
    align-items: center; /* Centrar verticalmente */
}
.title {
    display: flex; 
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.icono{
    font-size: 0.7em;
    margin-left: 10px;
    vertical-align: middle;
    /* display: inline-block; */
    border: none;
    margin: 0;
}
.form-registro {
    display: flex;
    max-height: max-content;
    max-width: 100%;
    width: 100%; 
    height: 50px;
    border-radius: 10px; 
    border: 1px rgba(172, 18, 18, 0.1) solid;
}

.form-input-right{

    max-height: max-content;
    max-width: max-content;
    min-width: 100%; /* Asegura que ocupe el 100% del ancho mínimo */
    min-height: 100%; 

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 10px;
    border-right: 2px solid #000;

}
.form-input-left {
    max-height: max-content;
    width: auto; /* Modifica el ancho a auto para que se ajuste al contenido */
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 20px;
}
input{
    border: 0px solid #ccc;
    outline: none;
    width: 100%;
    max-width: calc(100% - 50px);
    
}

.bt-content{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btnstart {
    background: radial-gradient(circle, #e5a369, #c34a1f); /* Color naranja */
    border-radius: 22px; /* Ajusta el valor según el grado de redondez deseado */
    padding: 7px 40px; /* Ajusta el relleno (padding) según tus necesidades */
    color: #fff; /* Color del texto en blanco */
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer;
    margin-bottom: 10px;
    
}

.btnstart:hover {
    border-color: #c34a1f;
    box-shadow: 0px 1px 6px rgba(18, 23, 24, 0.78);
    /* border: 2px solid #e64e6c;  */
    /* Cambiar el color del borde al pasar el cursor */
}

/* Para columna derecha -- ir a crear  */


.linea .row {
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Alinea los elementos verticalmente */
}


.linea p {
    font-size: 15px;
    margin: 0; /* Quita el margen */
    padding: 0; /* Quita el relleno */
}

.btnstart1 {
    background: radial-gradient(circle, #44a9ec, #3c6fdd); /* Color naranja */
    border-radius: 22px; /* Ajusta el valor según el grado de redondez deseado */
    padding: 7px 40px; /* Ajusta el relleno (padding) según tus necesidades */
    color: #fff; /* Color del texto en blanco */
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer;
    margin-bottom: 10px;
}

.btnstart1:hover {
    border-color: #3c6fdd;
    box-shadow: 0px 1px 6px rgba(18, 23, 24, 0.78);
    /* border: 2px solid #e64e6c;  */
    /* Cambiar el color del borde al pasar el cursor */
}
