<!-- <section class="content">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background-color: #98b7f4;  border-radius: 22px;">
                <br>
                <div class="column-content">
                    <img src="assets/images/logo-idea1.png" class="img-ideal" alt="...">
                </div> <br><br>
                <div class="text-center">
                    <img src="assets/images/cuartito.webp" class="imagen mx-auto" alt="...">
                </div><br>
                <div class="col-md-6 col-lg-auto col-sm-auto mx-auto">
                    <div class="opcion">
                        <div class="opcion-position">
                            <div class="usuario text-center">
                                <div class="descripcion">
                                        <h5 >¡Bienvenido a IDEAL ROOM! Tu solución para una búsqueda de alojamiento estudiantil más fácil y conveniente. Encuentra tu lugar ideal cerca de Tecsup, de manera rápida y eficiente con nuestra aplicación.</h5>
                                    
                                </div>          
                            </div> 
                        </div>
                    </div>
                </div>
                <br><br>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12">
                
                    <a  href="/"><h5 style="text-align:end;"> Volver </h5></a>
                <br>
                <code><h1 style="text-align:center"> Inicio de Sesion</h1></code><br>
                <div class="panel panel-filled">
                    <div class="panel-body">
                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <div class="row conjunto-form">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="form-registro">
                                        <div>
                                            <span class="span-izquierda"><i class="fas fa-envelope"></i> </span>
                                        </div>
                                        <div class="division">
                                        <input type="email" formControlName="email" placeholder="example@gmail.com" title="Please enter your email" class="form-control" >
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="form-registro">
                                        <div>
                                            <span class="span-izquierda"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <div class="division">
                                        <input type="password" formControlName="password" title="Please enter your password" placeholder="******" class="form-control"></div>
                                    </div>
                                </div>
                                <br>
                                <div class="botonsito1">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="terminosCheck" required>
                                    <label class="form-check-label" for="terminosCheck">
                                        Acepto los Términos y condiciones
                                    </label>
                                </div>
                                <br> 
                               
                                <button class="btn btnstart" type="submit" [disabled]="loginForm.invalid">Login</button>
                                <br><br><a style="background-color: lightskyblue;" [routerLink]="['/crear-usuario']" class="btn btn-default">Nuevo Usuario</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
            </div>
        </div>
 
</section>
 -->


<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12" >
                <!-- style="background-color: #5172b6;  border-radius: 22px;"> -->
                <div class="column-content">
                    <img src="assets/images/idealroom.png" class="img-ideal" alt="...">
                </div>

                <div class="column-content">
                    <img src="assets/images/cuartito.webp" class="imagen mx-auto" alt="...">
                </div>

                <div class="column-content">
                    <div class="opcion">
                        <div class="opcion-position text-center">
                            <p>¡Bienvenido a IDEAL ROOM! Tu solución para una búsqueda 
                                de alojamiento estudiantil más fácil y conveniente. Encuentra 
                                tu lugar ideal cerca de Tecsup, de manera rápida y eficiente 
                                con nuestra aplicación.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 ">
                <div class="formulario">
                    <div class="form-contenido">
                        <div class="my-3">
                            <div class="row">
                                <div class="title">
                                    <h2>Iniciar Sesion</h2>                                                 
                                </div>                                
                            </div>
                        </div>
                        <div class="cuerpo">
                            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                                <div class="form-group">
                                    <div class="col-md-12 col-lg-12 col-sm-12 my-3">
                                        <div class="form-registro">
                                            <div class="col-md-2 col-sm-2 col-lg-2 col-left">
                                                <div class="form-input-right ">
                                                    <i class="fas fa-at"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-lg-10 col-center">
                                                <div class="form-input-left">
                                                    <input class="" name="email" type="email" id="email" 
                                                    title="Ingrese su Email"  formControlName="email" placeholder="Email"> 
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="form-registro">
                                            <div class="col-md-2 col-sm-2 col-lg-2 col-left">
                                                <div class="form-input-right ">
                                                    <i class="fas fa-unlock"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-lg-10 col-center">
                                                <div class="form-input-left">
                                                    <input class="" name="password" type="password" id="password" 
                                                    title="Ingrese su Contraseña"  formControlName="password" placeholder="Contraseña"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <div class="bt-content">
                                            <button type="submit" class="btn btnstart" [disabled]="loginForm.invalid">Iniciar Sesion</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        
                        <div class="linea">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <hr>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <p>o crear cuenta</p>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="volver">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="bt-content">
                                    <button [routerLink]="['/crear-usuario']" class="btn btnstart1">Registrarse</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>                 
            </div>
        </div>
    </div>
     
</section>
 