.content:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -2;
    left: 0;
    right: 0;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(159, 225, 207, 0.4),
      rgba(97, 137, 218, 0.345)); */
    /* background-image: url('../../../../assets/images/fondo2.jpg');
    background-size: cover;  */
    /* Ajusta la imagen para cubrir toda el área */
    /* background-repeat: no-repeat;  */
    /* Evita la repetición de la imagen */
    /* background-position: center; */
     /* Centra la imagen */
    filter: contrast(100%);
    filter: brightness(90%);

}
.link-estilizado {
  text-decoration: none; 
  color: #000; /* Color del texto */
}

.container-lg{
    max-width: 900px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000; /* Asegura que el header esté por encima del resto */
  
}
main {
  padding-top: 10px; /* Ajusta esto según la altura de tu header */
  margin-top: 90px; /* Ajusta esto según la altura de tu header */
  display: block;
}



/* CUERPO */
.buscador{
  width: 100%;
  height: 450px;
  position: relative;
  /* background-image: url('https://st3.idealista.com/news/archivos/styles/amp_1200x675_16_9/public/2016-08/ideas-deco-cuartos-juveniles.jpg?VersionId=lX5N9xC2TXUQPkYDKDqem1iIjZs1TYea&itok=skKxmr6z');  */
  background-image: url('../../../../assets/images/buscador2.webp');
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
  border-radius: 15px;
  /* background-size: 100% 100%; */
  /* object-fit: cover; */
}
.buscar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}

.descripcion{
  width: 80%;
  padding-left: 20px;
}
.desc{
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: -0.24px;
}
.desc2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--262729, #262729);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px
}
.espacio{
  padding-top: 25px;
}

.buscar .form-control{
  border-radius: 15px 0 0 15px;
  height: 50px;
}
.buscar .btn {
  border-radius: 0 15px 15px 0; /* Esquinas redondeadas en el lado derecho */
  height: 50px;
}
.filtross {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo translúcido para los filtros */
  padding: 15px;
  border-radius: 10px;
  
}
.buscar select{
  border-radius: 30px;
  background-color: rgba(75, 134, 152, 0.5);
  width: 140px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--262729, #262729);
}
/* .filtro1{

} */

.infor{
  width: 100%;
  border-top: solid rebeccapurple 1px;
  background-color: rgba(243, 235, 235, 0.8); /* Fondo translúcido para los filtros */
  padding: 15px;
  /* border-radius: 10px; */
  border-bottom: solid rebeccapurple 1px;
  
}
.informacion-cuerpo{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.imagen1 img {
  max-width: 100%;
  max-height: max-content;
  border-radius: 10px;
  height: 280px; /* Esto mantendrá las proporciones de la imagen */
}
.columna-padre {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
  /* Ajusta otros estilos según sea necesario */
}
.info-desc{
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  
}
.desc-left{
  font-family: 'Inter', sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 133.333% */
  letter-spacing: 1px;
  
}
.desc2-right{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--262729, #262729);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px
}
.bt-content{
  display: flex;
  justify-content: left;
}
.btnstart {
  background-color:rgb(12, 78, 136) ; /* Color naranja */
  border-radius: 22px; /* Ajusta el valor según el grado de redondez deseado */
  padding: 7px 40px; /* Ajusta el relleno (padding) según tus necesidades */
  color: #fff; /* Color del texto en blanco */
  text-align: center;
  width: 150px;
  height: 40px;
  line-height: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px; /* Tamaño de fuente */
  cursor: pointer;
  margin-bottom: 10px;
  
}

.btnstart:hover {
  border-color: #5c36d0;
  background-color: #5c36d0; /* Cambiar el color de fondo al pasar el cursor */
  box-shadow: 0px 1px 6px rgba(18, 23, 24, 0.78);
  /* border: 2px solid #e64e6c;  */
  /* Cambiar el color del borde al pasar el cursor */
}

/* LISTADOOOOOOOOOOOOOOOOO */

.subtitulo-linea{
  border-bottom: 2px solid saddlebrown; /* Cambia 'your_color' por el color deseado */
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--262729, #262729);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.alojamiento{
  border: #5c36d0 solid 1px;
  margin-bottom: 12px;
  border-radius: 10px;
}

/*NO MODIFICAR - IMAGEN DE ALOJAMNIENTO   >:(*/

@media (min-width: 992px) and (max-width: 1400px) {
  /* Estilos para el rango de ancho entre 700px y 991px */
  .fot-alo, .alo-img, img {
    transition: .3s ease all;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
  }

  .alo-img {
    max-width: 100%;
    height: 200px;
    /* max-height: max-content; */
    border-radius: 10px 0 0 10px;
    background-color: darkred;
  }

  .carousel-inner {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 0 0 10px;
    position: relative;
    overflow: hidden;
    /* max-width: 100%;
    width: max-content;
    max-height: 100%;
    height: max-content; */
  }

  .lado{
    padding-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alo-cont{
    height: 200px;
    justify-content: center;
    padding-right: 5px;
    display: flex;
    width: 100%; 
    
  }
  .title{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-ubica{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
  }
  .alo-desc{
    margin: 0px;
    height: 20px;
  }
  .servicios-alo{
    height: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: max-content;
  }
  .ubi-pos{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 60px;  /* ancho de dib icon*/
    /* padding: 0%; */
  }
  .titulo-alo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--262729, #262729);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 3px;/*margin   de titulo a direccion*/
    display: flex;
    align-items: center;
  }
  .text-alo{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
  }
  
}
@media (min-width: 768px) and (max-width: 991px) {
  /* esto es img */
  .fot-alo{
    max-width: 100%;
    max-height: max-content;
    width: 100%;
    height: 180px; 
    object-fit: cover;
    overflow: hidden;
  }
  .alo-img{
    max-width: 100%;
    max-height: max-content;
    border-radius: 10px 10px 0 0;
    background: gold;
    height: 180px; 
  }
  .carousel-inner{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height:max-content;
    overflow:hidden; 
    border-radius: 10px 10px 0 0;
    position:relative;
    
    overflow:hidden
  }

  .alo-cont{
    height: 150px; /*alto del contenido de alojamiento*/
    
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    width: 100%; padding: none;
  }
  .titulo-alo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--262729, #262729);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 3px;/*margin   de titulo a direccion*/
    display: flex;
    align-items: center;
  }
  .text-alo{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
  }
  .servicios-alo{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    max-width: max-content;
  }
  .ubi-pos{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 70px;  /* ancho de dib icon*/
    /* padding: 0%; */
  }
  .ubicacion-alo{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 38px;
    max-width: 100%;
  }
  
} 
@media (min-width: 576px) and (max-width: 767px) {
  /* esto es img */
  .fot-alo{
    max-width: 100%;
    max-height: max-content;
    width: 100%;
    height: 150px; 
    object-fit: cover;
    overflow: hidden;
  }
  .alo-img{
    max-width: 100%;
    max-height: max-content;
    border-radius: 10px 10px 0 0;
    background: rgb(200, 30, 183);
    height: 150px; 
  }
  .carousel-inner{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height:max-content;
    overflow:hidden; 
    border-radius: 10px 10px 0 0;
    position:relative;
    
    overflow:hidden
  }
  .alo-cont{
    height: 150px; /*alto del contenido de alojamiento*/
    
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    width: 100%; padding: none;
  }
  .titulo-alo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--262729, #262729);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 3px;/*margin   de titulo a direccion*/
    display: flex;
    align-items: center;
  }
  .text-alo{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
  }
  .servicios-alo{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    max-width: max-content;
  }
  .ubi-pos{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 70px;  /* ancho de dib icon*/
    /* padding: 0%; */
  }
  .ubicacion-alo{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 30px;
    max-width: 100%;
  }
} 
@media (min-width: 376px) and (max-width: 575px) {
  /* esto es img */
  .fot-alo{
    max-width: 100%;
    max-height: max-content;
    width: 100%;
    height: 150px; 
    object-fit: cover;
    overflow: hidden;
  }
  .alo-img{
    max-width: 100%;
    max-height: max-content;
    border-radius: 10px 10px 0 0;
    background: rgb(200, 30, 183);
    height: 150px; 
  }
  .carousel-inner{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height:max-content;
    overflow:hidden; 
    border-radius: 10px 10px 0 0;
    position:relative;
    
    overflow:hidden
  }
  .alo-cont{
    height: 200px; /*alto del contenido de alojamiento*/
    
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    width: 100%; padding: none;
  }
  .titulo-alo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--262729, #262729);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 3px;/*margin   de titulo a direccion*/
    display: flex;
    align-items: center;
  }
  .servicios-alo{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    max-width: max-content;
  }
  .ubi-pos{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 70px;  /* ancho de dib icon*/
    /* padding: 0%; */
  }
  .ubicacion-alo{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 30px;
    max-width: 100%;
  }
  .text-alo{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
  }
  
} 
/*NO MODIFICAR   DESCRIPCION DE ALOJAMIENTO  >:(*/


.precio{
  color: brown;
  font-weight: 700;
}
.icono{
  font-size: 0.9em;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  border: none;
  margin: 0;
  margin-right: 4px;
  color: #5c36d0;
}


.empresa-footer{
  background-image: url('../../../../assets/images/fondo88.jpg');

  padding: 15px;
   /* border-radius: 10px; */
}
.foot-alo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--262729, #989ca4);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 3px;/*margin   de titulo a direccion*/
  display: flex;
  align-items: center;
}