<section class="content">
    
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="column-content">
                        <img src="assets/images/logo-idea1.png" class="img-ideal" alt="...">
                        <br>
                        <h4>
                            ¡Descubre IdealRoom, tu plataforma perfecta para encontrar y ofrecer alojamiento! 
                            Ya sea que busques un lugar acogedor para vivir cerca 
                            de tu instituto o desees compartir tu espacio con otros, 
                            IdealRoom es tu solución. Regístrate ahora y encuentra alojamiento 
                            cercano de manera fácil y segura. ¡Bienvenido a tu nuevo hogar!</h4>
                            <div class="bt-content">
                                <a href="#" class="btn btnstart1">Iniciar Sesion</a>
                            </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="opcion">
                        <div class="opcion-position">
                            <h3 class="title">Arrendador</h3>
                            <div class="imagen ">
                                <img src="assets/images/arrendador.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="usuario">
                                <div class="descripcion"><em>
                                    ¡Únete como arrendador y comparte 
                                    tu espacio! Regístrate para ofrecer 
                                    alojamientos y comenzar a recibir huéspedes.</em>
                                </div>
                                <div class="bt-content">
                                    <a href="#" class="btn btnstart">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="opcion">
                        <div class="opcion-position">
                            <h3 class="title">Estudiante</h3>
                            <div class="imagen">
                                <img src="assets/images/social.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="usuario">
                                <div class="descripcion"><em>
                                    ¡Descubre la comodidad de vivir cerca de tu instituto! 
                                    Regístrate como alumno en IdealRoom y encuentra alojamiento cercano de manera sencilla.</em>                                     
                                </div>
                                <div class="bt-content">
                                    <a href="#" class="btn btnstart">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>