<br>
<br>
<section class="content">
    <main>
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 d-flex justify-content-center ">
                        <!-- <img src="assets/images/logo-giro.png" class="img-ideal vertical-image medida" alt="..."> -->
                        <div class="image-container">
                            <img src="assets/images/logo-giro.png" class="img-ideal vertical-image " alt="...">
                        </div>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9">
                    <div class="formulario">
                        <div class="form-contenido">
                            <div class="my-3 cabecera">
                                <div class="row">
                                    <div class="col-md-9 col-lg-9 col-sm-9 col-left">
                                        <div class="title">
                                            <h1>Crear Cuenta <i class=" icono fas fa-user-edit"></i></h1>                                                 
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-right">
                                        <div class="column-content ">
                                                <a class="" href="/">Volver </a>                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cuerpo">
                                <form>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-user-edit"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="nombres" type="text" id="nombres" 
                                                            title="Ingrese sus Nombres"  formControlName="nombres" placeholder="Nombres"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-user-edit"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="apellidos" type="text" id="apellidos" 
                                                            title="Ingrese sus Apellidos"  formControlName="apellidos" placeholder="Apellidos"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-user-circle"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="username" type="text" id="username" 
                                                            title="Ingrese un Usuario"  formControlName="username" placeholder="Usuario"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-at"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="email" type="email" id="email" 
                                                            title="Ingrese su Email"  formControlName="email" placeholder="Email"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-id-card"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="dni" type="number" id="dni" 
                                                            title="Ingrese su DNI"  formControlName="dni" placeholder="DNI"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-phone-alt"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="celular" type="number" id="celular" 
                                                            title="Ingrese su Telefono"  formControlName="celular" placeholder="Telefono"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-unlock"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="password" type="text" id="password" 
                                                            title="Ingrese su Contraseña"  formControlName="password" placeholder="Contraseña"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="form-registro">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-left">
                                                        <div class="form-input-right ">
                                                            <i class="fas fa-unlock"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-9 col-lg-9 col-center">
                                                        <div class="form-input-left">
                                                            <input class="" name="password" type="text" id="password" 
                                                            title="Ingrese su Contraseña"  formControlName="password" placeholder="Confirmar Contraseña"> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <div class="bt-content">
                                                <a href="/crear-arrendador" class="btn btnstart">Registrar</a>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>